import(LiblineaR)
import(GenomicRanges)
import(zoo) 
import(squash)
import(pls)
import(rtracklayer)
import(ROCR)
import(SVM2CRMdata)
import(verification)
import(AnnotationDbi)
import(IRanges)
importFrom(mclust,Mclust)

export(
cisREfindbed,
createBed,
createSVMinput,
featSelectionWithKmeans,
findFeatureOverlap,
frequencyHM,
getSignal,
performanceSVM,
plotFscore,
plotROC,
predictionGW,
smoothInputFS,
tuningParametersCombROC
)
 
